*{
    font-size:48px;
    font-family: Verdana, Geneva, sans-serif;
}
body{
	background-color:black;
	color:#FFFFFF; 
}

#login{
	text-align:center;
	position: absolute;
	width: 1000px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -500px;
}

#write {
    padding:0;
    margin:0;
}

#createUser{
	position: absolute;
    width: 1000px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -500px;
}
input[type=radio] {
    margin: 15px 15px 15px 15px;
    transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -o-transform: scale(2, 2);
}
#startScreen{
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
}
#startScreenP0{

}
#startScreenP1{
    display: none;
}
#startScreenP2{
    display: none;
}
#startScreenP3{
    display: none;
}

#Game{
    text-align:center;
    position: absolute;
    width: 1000px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -500px;
}

#num_field{
    font-size:80px;
    font-weight:bold;
}


#Result{
    font-size:10px;
    text-align:center;
    position: absolute;
    width: 1000px;
    height: 700px;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -500px;
}


#ResultEnd{
    font-size:10px;
    position: absolute;
    width: 1000px;
    height: 570px;
    top: 50%;
    left: 50%;
    margin-top: -285px;
    margin-left: -500px;
}

#ResultEnd *{
    font-size:35px;
}

#Instructions2{
    text-align:center;
    position: absolute;
    width: 1000px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
}

#Notification{
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
}

#PracticeStart{
    position: absolute;
    width: 1000px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -500px;
}
.oikein{
    text-align:center;

}

.vaarin {
    text-align:center; 

}