
body{
	background-color:black;
	color:#FFFFFF; 
}

#login{
	text-align:center;
	font-size:100%;
	position: absolute;
	width: 300px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -150px;
}
#createUser{
 
	font-size:100%;
	position: absolute;
	width: 340px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -160px;
}

#startScreen{
	text-align:center;
	font-size:100%;
	position: absolute;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
 
#startScreen #instructions{
    text-align:left;
}

#Game{
    text-align:center;
    font-size:100%;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}

a{
cursor:pointer
}
